@charset "utf-8";
/* CSS Document */

/*body{
	font-size:15px;
	background-color:#8b8585;
	margin:auto;
}*/

html { 
  background: url(../img/fondo2.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
}


h2{
	font:bold 3em Arial, Helvetica, sans-serif;
	text-align:left;
	/*padding:5px 0 10px 10px;*/
	color:#fff;
	text-shadow:#9CF 3px 3px 2px;
	letter-spacing:3px;
	margin-left:4%;
	margin-top:2%;
	float:left;
	margin-bottom:0%;
}


h3{
	font:bold  2em Arial, Helvetica, sans-serif;
	text-align:left;
	color:#1f4d86;
	text-align:left;
	text-shadow:#000 1px 1px 0.5px;
	margin-bottom:2%;
	margin-left:5%;
	text-decoration:underline;
	clear:both;
	float:left;
}

img{
	width:30%;
	height:30%;
	float:left;
	padding:4px;
	background-color:#333;
	border-radius:20px;/*como si fuera un segundo borde*/
	border: solid #CCC;
	box-shadow:#9CF 5px 5px 5px;
	margin-left:4%;
	margin-top:2%;
	clear:both;
}
	
ul{
	/*margin-top:4.5%;*/
	margin-left:45%;
	margin-top:3.2%;
	position:relative;
	border:#999 solid 3px;
	width:40%;
	height:20%;
	border-radius:10px;
	text-decoration:underline;
	color:#CCC;
	box-shadow:#9CF 5px 5px 5px;
	
	
}

li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#FFF;
	text-shadow:#000 1px 1px 1px;
	padding:10px;
	list-style:url(../img/balon_vineta.jpg);
	/*border:#CCC solid 2px;*/
	border-radius:10px;
	padding:20px 30px;
}

#volver_listado{
	margin-top:30px;
	text-align:right;
}

#listado{
	cursor:pointer;
	background:url(../img/boton-regresaralistado.png)center no-repeat;
	width:240px;
	height:35px;
	border-radius:10px;
	border:#999 solid 2px;
	outline:none;
	position:relative;
	transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-box-shadow: 0px 3px 0px 0px #9CF;
    -webkit-box-shadow: 0px 3px 0px #9CF;
    box-shadow: 0px 3px 0px 0px #9CF;
 	display:inline-block;
    padding:10px;
    text-decoration:none;
	margin-bottom:7px;
	cursor:pointer;
}

#listado:active{
    top:4px;
  	-moz-box-shadow: 0px 1px 0px 0px #9CF;
    -webkit-box-shadow: 0px 1px 0px 0px #9CF;
    box-shadow: 0px 1px 0px 0px #9CF;
	outline:none;
}

#comprar{
	clear:both;
	margin-left:4%;
	background:url(../img/ecommerce1.jpg)center no-repeat;
	border-radius:300px;
	width:100px;
	height:100px;
	border:#999 solid 2px;
	outline:none;
	position:relative;
	transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-box-shadow: 0px 3px 0px 0px #9CF;
    -webkit-box-shadow: 0px 3px 0px #9CF;
    box-shadow: 0px 3px 0px 0px #9CF;
 	display:inline-block;
    padding:10px;
    text-decoration:none;
	margin-bottom:7px;
	cursor:pointer;
}

#comprar:active{
    top:4px;
  	-moz-box-shadow: 0px 1px 0px 0px #9CF;
    -webkit-box-shadow: 0px 1px 0px 0px #9CF;
    box-shadow: 0px 1px 0px 0px #9CF;
	outline:none;
}
	
}

