<!DOCTYPE html>
<html lang='es'>

<head>
	
    <title>Lista de Productos</title>
	<meta charset='utf-8'>
	
	<link href="{{STATIC_URL}}css/estilo_nousuario.css" rel="stylesheet">
  
</head>
 
  
<body>

<section id="texto">
<p>ERROR DE ACCESO:</p>
<ul>
<li>Nombre de usuario o contraseña incorrecta.</li>
<li>El usuario no existe.</li>
</ul>
</section>

<div>
<section id="zonavolver">
	<form name="volver" method="get" action="{% url 'ingresar' %}">
    <input type="submit" id="volver" name="volver" value="" >
	</form>
</section>
</div>

<!--<h2><a href="{% url 'ingresar' %}">Regresar</a></h2>-->

</body>

</html>
