<!doctype html>
<html>

<head>

<meta charset="utf-8">
<title>Detalle del producto</title>

<link href="{{STATIC_URL}}css/estilo_producto_individual.css" rel="stylesheet">

</head>

<body>


<div>
	
	<hgroup>
	  <h2>{{elemento.nombre_producto}}</h2>
	  <section id="volver_listado">
      <form name="p_individual" method="get" action="{% url 'lista' %}">
    	<input type="submit" id="listado" name="listado" value="">
	  </form>
      </section>
      <h3>Categoria: {{elemento.subcategoria}}</h3>
	</hgroup>
	
    <section id="imagen_individual">
        {% load thumbnail %}
		{% thumbnail elemento.imagen "200" crop="200px 200px" format="PNG" as im%}
			<img src="{{im.url}}">
		{% endthumbnail %}
	</section>

    <section id="descripcion">
        <ul>
        <li style="color:#666;text-decoration:underline;">Cod: {{elemento.codigo}}</li>
		<li style="color:#CCC;text-decoration:underline;">Marca: {{elemento.marca}}</li>
		<li style="color:#666;text-decoration:underline;">Stock: {{elemento.stock}}</li>
		<li style="color:#CCC;text-decoration:underline;">Genero: {{elemento.genero}}</li>
		<li style="color:#903; letter-spacing:1px; font-size:30px; text-decoration:underline;">Precio: ${{elemento.precio}}</li>
		<li style="font:bold; color:#1f4d86; text-decoration:underline;font-size:28px; " >Descripcion: {{elemento.descripcion}}</li>
		<li style="color:#666;text-decoration:underline;">Talle: {{elemento.talle}}</li>

        </ul>
	</section>
    
    <section id="zonacompras">
    <form name="pasar" " method="post" action="{% url 'mi_carrito' %}">
		{% csrf_token %}
		<input type="hidden" name="q" value="{{elemento.codigo}}">
		<input type="submit" id="comprar" name="comprar" value="" >
    </form>
    </section>	
	
</div>




</body>

</html>
