<!doctype html>

<html>

<head>

<meta charset="utf-8">
<title>Documento sin título</title>

<link href="{{STATIC_URL}}css/estilo_compra_realizada.css" rel="stylesheet">

</head>

<body>

{% csrf_token %}
<p>La compra se realizo con exito.</p>

<p>Le enviaremos el datelle de facturacion de la misma a su casilla de correo electronico.</p>


 <section id="zonaregresar">
	<div>
	<form name="regresar" method="get" action="{% url 'principal' %}">
    <input type="submit" id="inicio" name="inicio" value="" >
	</form>
    </div>
 </section>








</body>

</html>
