<!doctype html>
<html>

<head>

<meta charset="utf-8">
<title>Alta usuario</title>

<link href="{{STATIC_URL}}css/estilo_nuevousuario.css" rel="stylesheet">

</head>

<body>
	
    <section id="error">
   	
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
 	
    </section>

    <form name="formulario" id="formulario" method="post" action="">

        {% csrf_token %}

        <table id="tabla">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>

            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>

            <tr>
                <td>{{ form.first_name.label_tag }}</td>
                <td>{{ form.first_name }}</td>
            </tr>

            <tr>
                <td>{{ form.last_name.label_tag }}</td>
                <td>{{ form.last_name }}</td>
            </tr>

            <tr>
                <td>{{ form.direccion.label_tag }}</td>
                <td>{{ form.direccion }}</td>
            </tr>

        </table>

        <input type="submit" value="" name="boton" id="boton"/>
    </form>

</body>
</html>


