@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }


body{
	width:100%;
}

html { 
  background: url(../img/downloads-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:auto;
  width:100%;
  
}



h1{
	font: bold 3em Arial, Helvetica, sans-serif; 
	width:100%;/*se puede usar porcentaje o px para graduar el ancho de la caja*/
	text-align:center;/*centrar el texto en la caja*/
	background:-webkit-linear-gradient(top, #666 #CCC);/*degradado para crhome*/
	background:-moz-linear-gradient(top, #666 #CCC);/*degradado para crhome*/
	margin: 20px auto 40px; /*arriba, derecha, abajo, izquierda*/
	padding:10px;
	color:#FFF;
	text-shadow: #9CF 3px 3px 2px;
	letter-spacing:3px;
}

h2{
	font:bold 1.4em Arial, Helvetica, sans-serif;
	text-align:rigth;
	margin:50px 0 5px 0;
	color:#fff;
	width:150px;
	letter-spacing:1px;
	text-shadow: #9CF 1px 1px 0.5px;
}


h3{
	font:bold 1.2em Arial, Helvetica, sans-serif;
	text-align:center;
	color:#fff;
	width:150px;
	/*text-shadow:#CCF 1px 1px;*/
	text-decoration:underline;
}

img{
	width:150px;
	height:150px;
	float:left;
	padding:4px;/*espacio para el borde*/
	background-color:#333;
	border-radius:20px;/*como si fuera un segundo borde*/
	border: solid #CCC;
	box-shadow: #9CF 5px 5px 5px;
	-webkit-transition:-webkit-transform 0.5s ease-in-out 0.2s;/*parametros: 1 cuanto tarde en ejecutar el efecto completo, 2 como sera el efecto, 3 cuento tiempo tardara en ejecutar cunaod se posiciona el mouse */
	-moz-transition:-moz-transform 0.5s ease-in-out 0.2s;
	margin:20px 0 30px 0;
}
	

img:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
}


#pie{
	background-color:#000;
	color:#FFF;
	clear:both;/*romper el float para hacer un salto de linea y bajar el texto*/
	text-align:center;
	padding-top:5px;/*separa el contenido del resto de la seccion*/
	height:40px;
	
}

#deportes{
	background-color:#666;
	font: bold 1.5em Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFF;
	text-shadow:#000 2px 2px 2px;
	height:27px;
	padding:3px;
	margin:auto;
	width:100%;
}

li{
	display:inline;
	padding-right:3%;
}


#deportes li:hover{
	display:inline;
	padding-right:50px;
	border:inset #fff 3px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
	margin-right:20px;
	text-shadow:#FFF 0px 0px 0px;
	-webkit-transition-delay:0.2s;
	-moz-transition-delay:0.2s;
}

#categorias{
	position:absolute;
	float:left;
	width:130px;
	padding:10px;
	margin-left:10px;
	margin-top:20px;
	text-align:center;
	color:#999;
	
}

#categorias blockquote{
	border:dashed #FFFFFF 1px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	padding-top:10px;
	cursor:pointer;	
}

#categorias blockquote:hover{
	background-color:#000;
	color:#FFF;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	font:bold;
}

#productos{
	float:left;
	margin-left:50px;
}

#productos li{
	font: bold 1.1em Arial, Helvetica, sans-serif;
	display: block;
	color:#CCC;
	clear:both;
	text-shadow:#666 1px 1px 1px;
}

#prod{
	margin-left:150px;
}

ul{
	margin-bottom:30px;
}

#inicio{
	background:url(../img/inicio.jpg) center no-repeat;
	width:85px;
	height:85px;
	border-radius:300px;
	margin-left:20px;
	border:solid #fff 2px;
	padding:2px;
	float:left;
	position:relative;
	transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-box-shadow: 0px 5px 0px 0px  #999999;
    -webkit-box-shadow: 0px 5px 0px 0px #999999;
    box-shadow: 0px 5px 0px 0px #999999 ;
 	display:inline-block;
    padding:10px;
    text-decoration:none;
	outline:none;
	cursor:pointer;
}

#inicio:active{
    top:4px;
  	-moz-box-shadow: 0px 1px 0px 0px #999999;
    -webkit-box-shadow: 0px 1px 0px 0px #999999;
    box-shadow: 0px 1px 0px 0px #999999;
	outline:none;
	cursor:pointer;
}

#individual{
	cursor:pointer;
	background:url(../img/ver_detalle.JPG)center no-repeat;
	width:108px;
	height:30px;
	border:#999 solid 2px;
	border-radius:10px;
	outline:none;
	position:relative;
	transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-box-shadow: 0px 3px 0px 0px #9CF;
    -webkit-box-shadow: 0px 3px 0px #9CF;
    box-shadow: 0px 3px 0px 0px #9CF;
 	display:inline-block;
    padding:10px;
    text-decoration:none;
	margin-bottom:7px;
}

#individual:active{
    top:4px;
  	-moz-box-shadow: 0px 1px 0px 0px #9CF;
    -webkit-box-shadow: 0px 1px 0px 0px #9CF;
    box-shadow: 0px 1px 0px 0px #9CF;
	outline:none;
}

#comprar{
	background:url(../img/azul-boton-comprar.png) center no-repeat;
	width:108px;
	height:30px;
	border:#999 solid 2px;
	border-radius:10px;
	outline:none;
	position:relative;
	transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-box-shadow: 0px 3px 0px 0px #9CF;
    -webkit-box-shadow: 0px 3px 0px #9CF;
    box-shadow: 0px 3px 0px 0px #9CF;
 	display:inline-block;
    padding:10px;
    text-decoration:none;
	margin-top:5px;
	cursor:pointer;
}

#comprar:active{
    top:4px;
  	-moz-box-shadow: 0px 1px 0px 0px #9CF;
    -webkit-box-shadow: 0px 1px 0px 0px #9CF;
    box-shadow: 0px 1px 0px 0px #9CF;
	outline:none;
}
}

